<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular Material Dashboard</title>
  <link rel="stylesheet" href="src/content/css/main.css">
  <style>[ng-cloak] { display: none; }</style>
</head>
<body ng-app="app" layout="column" ng-controller="GlobalController as global">

<md-toolbar
  layout="row"
  layout-align="space-between center"
  ng-hide="global.hideNav()"
  ng-controller="ToolbarController as vm"
  ng-cloak>
  <md-button hide-gt-sm ng-click="vm.toggleSidenav()">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <md-button class="button-style-temp" ng-click="vm.logout()">Logout</md-button>
</md-toolbar>

<div flex layout="row">

  <md-sidenav
    class="md-whiteframe-z2"
    md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="left"
    ng-click="ul.toggleList()"
    ng-hide="global.hideNav()"
    ng-cloak>
    Side nav
  </md-sidenav>

  <ng-view flex layout="row"></ng-view>

</div>

<!-- Third-party JS -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>

<!-- Main App Module -->
<script src="src/app/app.module.js"></script>

<!-- Core Module -->
<script src="src/app/core/core.module.js"></script>
<script src="src/app/core/constants.js"></script>
<script src="src/app/core/firebaseData.service.js"></script>
<script src="src/app/core/widget.service.js"></script>

<!-- Auth Module -->
<script src="src/app/auth/auth.module.js"></script>
<script src="src/app/auth/config.route.js"></script>
<script src="src/app/auth/auth.service.js"></script>
<script src="src/app/auth/auth.controller.js"></script>

<!-- Global Module -->
<script src="src/app/global/global.module.js"></script>
<script src="src/app/global/global.controller.js"></script>
<script src="src/app/global/background.directive.js"></script>

<!-- Dashboard Module -->
<script src="src/app/dashboard/dashboard.module.js"></script>
<script src="src/app/dashboard/config.route.js"></script>
<script src="src/app/dashboard/dashboard.controller.js"></script>

<!-- Toolbar Module -->
<script src="src/app/toolbar/toolbar.module.js"></script>
<script src="src/app/toolbar/toolbar.controller.js"></script>
</body>
</html>
