<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular Material Dashboard</title>
  <link rel="stylesheet" href="src/content/css/main.css">
  <style>[ng-cloak] { display: none; }</style>
</head>
<body ng-app="app" layout="column" ng-controller="GlobalController as global">

<md-toolbar
  layout="row"
  layout-align="space-between center"
  ng-hide="global.hideNav()"
  ng-controller="ToolbarController as vm"
  ng-cloak>
  <md-button class="md-icon-button" hide-gt-sm ng-click="vm.toggleSidenav()" aria-label="menu-button">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <md-menu class="button-style-temp">
    <md-button aria-label="Open the more menu" class="md-icon-button" ng-click="$mdOpenMenu()">
      <md-icon md-menu-origin md-svg-icon="more-vert"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="vm.logout()" aria-label="logout-button">Logout</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>

<div flex layout="row">

  <ir-sidenav></ir-sidenav>

  <ng-view flex layout="row"></ng-view>

</div>

<!-- Third-party JS -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/js-md5/js/md5.js"></script>

<!-- Main App Module -->
<script src="src/app/app.module.js"></script>

<!-- Core Module -->
<script src="src/app/core/core.module.js"></script>
<script src="src/app/core/constants.js"></script>
<script src="src/app/core/firebase-data.service.js"></script>
<script src="src/app/core/cards.service.js"></script>

<!-- Auth Module -->
<script src="src/app/auth/auth.module.js"></script>
<script src="src/app/auth/config.route.js"></script>
<script src="src/app/auth/auth.service.js"></script>
<script src="src/app/auth/auth.controller.js"></script>

<!-- Global Module -->
<script src="src/app/global/global.module.js"></script>
<script src="src/app/global/global.controller.js"></script>
<script src="src/app/core/background.directive.js"></script>
<script src="src/app/core/avatar.directive.js"></script>

<!-- Toolbar Module -->
<script src="src/app/toolbar/toolbar.module.js"></script>
<script src="src/app/toolbar/toolbar.controller.js"></script>

<!-- Sidenav Module -->
<script src="src/app/sidenav/sidenav.module.js"></script>
<script src="src/app/sidenav/sidenav.directive.js"></script>

<!-- Dashboard Module -->
<script src="src/app/dashboard/dashboard.module.js"></script>
<script src="src/app/dashboard/config.route.js"></script>
<script src="src/app/dashboard/dashboard.controller.js"></script>

<!-- Card Task Module -->
<script src="src/app/card-task/card-task.module.js"></script>
<script src="src/app/card-task/card-task.directive.js"></script>
<script src="src/app/card-task/card-task.filter.js"></script>

<!-- Card Weather Module -->
<script src="src/app/card-weather/card-weather.module.js"></script>
<script src="src/app/card-weather/card-weather.directive.js"></script>

</body>
</html>
