//Import Angular Material SASS
@import "../../../../bower_components/angular-material/angular-material.scss";

// TODO Find a way to import dragular styles into main css so styles don't have to be copied into the sass file - maybe there is a sass version?
//Styles for Dragular
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

//TODO Refactor into BEM, splitup in modules and replace temp class names
//TODO Make colors work with angularjs color configuration - eg. if the new accent color is red, that all the links turn red

a {
  color: #795548;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;

  &:hover, &:focus, &:active {
    color: #4b352b;
  }
}

//Keep image width 100% and in proportion (image has to be a square)
//When the image is not loaded, the background is filled with background-color
.profile-image {
  display: block;
  width: 100%;
  padding: 3rem 3rem 0 3rem;

  div {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #795548;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      -webkit-animation-name: fade-in;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-timing-function: ease-in;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-delay: 0s;
    }
  }
}

md-content {
  z-index: 0;
}

.ir-contrast {
  height: 25px;
  width: 25px;

  path {
    stroke: #fff;
  }
}

.ir-progress-linear {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;

  //TODO Get font size from label as min-height
  label {
    min-height: 19px;
    cursor: pointer;
  }

  .md-checked + label {
    text-decoration: line-through;
  }

  .drag-handle {
    margin-right: 10px;
    cursor: pointer;
  }
}

.temp-no-margin {
  margin: 0;
}

.ir-speed-dial {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  md-fab-actions {
    .md-button.md-fab md-icon {
      color: #448AFF;
    }
  }
}

md-toolbar .md-menu.button-style-temp {
  margin-left: auto;
  margin-right: 0;
}

.button-style-temp, .go-right-temp {
  margin-left: auto;
}

.background-image-full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}

.md-whiteframe-z1 {
  background-color: white;
}

.ir-auth {
  md-card {
    max-width: 500px;
  }
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}