<md-content flex id="content" layout="row" layout-align="center center">
  <ir-background ir-background-image="https://source.unsplash.com/VNseEaTt9w4/1600x900"></ir-background>
  <md-progress-linear class="ir-progress-linear" ng-show="vm.loginStatus" md-mode="indeterminate"></md-progress-linear>

  <md-card class="md-whiteframe-z1" layout="column" flex-xs="100" flex-sm="50" flex="30" layout-padding>
    <md-card-content>
      <form novalidate>
        <md-input-container class="md-block">
          <label>Email</label>
          <!-- TODO Autofocus -->
          <input ng-model="vm.user.email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="vm.user.password" type="password">
        </md-input-container>
        <!-- TODO login should work on enter -->
        <section layout="row" layout-align="center center">
          <a href="#register">Need an account?</a>
          <md-button class="md-raised md-primary button-style-temp" ng-click="vm.login(vm.user)">Login</md-button>
        </section>
      </form>

      <!-- TODO Link to registration -->
    </md-card-content>
  </md-card>

</md-content>