<md-dialog ng-cloak flex-xs="100" flex-sm="80" flex="60">
  <form layout="column" ng-submit="vm.save(vm.title, vm.editMode)">
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label ng-hide="vm.task">Title</label>
          <label ng-show="vm.task">Task</label>
          <input type="text" ng-model="vm.title" md-autofocus>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-raised" ng-click="vm.cancel()">
        Cancel
      </md-button>
      <!-- TODO Remove space under input -->
      <!-- TODO When creating task, input has to have something in it - so I might make this logic also for when editing task -->
      <!-- TODO Save/add should work on enter-->
      <md-button class="md-raised md-accent" ng-hide="vm.editMode" type="submit">
        Add
      </md-button>
      <md-button class="md-raised md-accent" ng-show="vm.editMode" type="submit">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>