//Import Angular Material SASS
@import "../../../bower_components/angular-material/angular-material.scss";

//TODO Refactor into BEM, splitup in modules and replace temp class names

md-content {
  z-index: 0;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;

  //TODO Get font size from label as min-height
  label {
    min-height: 19px;
    cursor: pointer;
  }

  .md-checked + label {
    text-decoration: line-through;
  }
}

.temp-no-margin {
  margin: 0;
}

.button-style-temp {
  margin-left: auto;
}

.filter-status {
  text-transform: uppercase;
}

.background-image-full {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}

.md-whiteframe-z1 {
  background-color: white;
}

//.no-padding {
//  padding: 0;
//}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}