<md-content flex id="content" layout="row" layout-align="start start" layout-wrap>
  <div flex-xs flex-sm="50" flex-md="50" flex-gt-md="33">
    <md-card>
      <md-card-content>
        <md-button class="md-raised md-primary" ng-click="vm.addCard('task')" aria-label="add-task-card">Add Task Card</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.addCard('weather')" aria-label="add-weather-card">Add Weather Card</md-button>
      </md-card-content>
    </md-card>
  </div>

  <div ng-repeat="card in vm.cards" flex-xs flex-sm="50" flex-md="50" flex-gt-md="33">
    <ir-card-task ng-if="card.type === 'task'" card-id="{{card.$id}}"></ir-card-task>
    <ir-card-weather ng-if="card.type === 'weather'" card-id="{{card.$id}}"></ir-card-weather>
  </div>

</md-content>