<md-content flex id="content" layout="row" layout-align="start start" layout-wrap>
  <div flex-xs flex-sm="50" flex-md="50" flex-gt-md="33">
    <md-card>
      <md-card-content>
        <md-button class="md-raised md-primary" ng-click="vm.addCard('task')">Add Task Card</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.addCard('weather')">Add Weather Card</md-button>
      </md-card-content>
    </md-card>
  </div>

  <div ng-repeat="card in vm.cards" flex-xs flex-sm="50" flex-md="50" flex-gt-md="33">
    <ir-card card-title="{{card.title}}" card-type="{{card.type}}" controller-name="{{card.controller}}" card-id="{{card.$id}}"></ir-card>
  </div>

</md-content>